Source: glb
Section: net
Priority: optional
Maintainer: Vladimir Osintsev <osintsev@gmail.com>
Build-Depends: debhelper (>= 7), patchutils, cdbs, autotools-dev
Standards-Version: 3.8.4
Vcs-Browser: http://github.com/osminogin/pkg-glb
Vcs-Git: git://github.com/osminogin/pkg-glb.git
Homepage: http://www.codership.com/en/products/galera-load-balancer

Package: glb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base (>= 3.0-6)
Description: simple TCP connection load balancer
 GLB (Galera Load Balancer) is a simple TCP connection balancer made with 
 scalability and performance in mind. It was inspired by pen, but unlike pen its
 functionality is limited only to balancing generic TCP connections.
 .
 Features:
   - list of backend servers is configurable in runtime.
   - supports server "draining", i.e. does not allocate new connections
     to server, but does not kill existing ones, waiting for them to end
     gracefully.
   - can use epoll API provided by Linux version 2.6 and higher
     for ultimate routing performance.
   - GLB is multithreaded, so it can utilize multiple CPU cores.
